<div class="row eventComparisionPane">

  <div class="col-4" cDroppable="availableEvents"
  errorClassName="error"
  successClassName="success"
  (onDrop)="dropped($event)">

    <h3>Available Events</h3>

    <ul *ngFor="let availableEvent of Names.availableEvents" >

      <li  toBeDroppedAt="selectedEvents droppableEvents"
      cDraggable="availableEvents"
      [draggedData]="availableEvent"
      focusClassName="focus"
      >{{availableEvent.name}}</li>

    </ul>

  </div>

  <hr>

  <div class="col-4" cDroppable="droppableEvents"
  errorClassName="error"
  successClassName="success"
   (onDrop)="dropped($event)">

    <h3>Droppable Events</h3>

    <ul *ngFor="let droppableEvent of Names.droppableEvents" >

      <li  toBeDroppedAt='selectedEvents availableEvents'
      cDraggable="droppableEvents"
      [draggedData]="droppableEvent"
      focusClassName="focus"
      >{{droppableEvent.name}}</li>

    </ul>

  </div>

  <hr>

  <div class=" col-4" cDroppable="selectedEvents"
  errorClassName="error"
  successClassName="success"
  (onDrop)="dropped($event)">

    <h3>Selected Events</h3>

    <ul *ngFor="let selectedEvent of Names.selectedEvents">

      <li  toBeDroppedAt="availableEvents"
      [draggedData]="selectedEvent"
      focusClassName="focus"
      cDraggable="selectedEvents"
      >{{selectedEvent.name}}</li>

    </ul>

  </div>

</div>
