<div class="jumbotron jumbotron-fluid" style="padding: 2%;text-justify: center;">
  <div class="container">
    <h1  class="display-4">Pinger</h1>
    <p class="lead">One stop shop for all music event info needs!</p>
  </div>
</div>

 <app-search-form [eventParamNames]="eventParamNames" (search)="searchEvents($event)" ></app-search-form>

  <hr>
  <button type="button" class="btn btn-outline-info" (click)="filterBy('')"
  [ngClass]="{active: checkFilterParam('') }" > All </button>

  <button type="button" class="btn btn-outline-primary" (click)="filterBy('Rock')"
  [ngClass]="{active: checkFilterParam('Rock') }" > Rock </button>

  <button type="button" class="btn btn-outline-success" (click)="filterBy('Electronic')"
  [ngClass]="{active: checkFilterParam('Electronic')}" >Electronic</button>

  <button type="button" class="btn btn-outline-danger" (click)="filterBy('Jazz')"
  [ngClass]="{active: checkFilterParam('Jazz')}">Jazz</button>

<div style="float: right;" class="btn-group btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-outline-info"
    (click)="sortByPrice()" [ngClass]="{active: checkSortParam('Price') } "
  >
  <i *ngIf="isAscendingPriceSort" class="fas fa-sort-amount-up"></i>
  <i *ngIf="!isAscendingPriceSort" class="fas fa-sort-amount-down"></i>
  Price</button>
  <button type="button" class="btn btn-outline-danger"
    (click)="sortByRating()" [ngClass]="{active: checkSortParam('Rating') } "
  >
  <i *ngIf="isAscendingRatingSort" class="fas fa-sort-amount-up"></i>
  <i *ngIf="!isAscendingRatingSort" class="fas fa-sort-amount-down"></i>
  Rating</button>
</div>

<div style="justify-content: center;" class="row row-cols-1 row-cols-md-3">
  <h2 style="margin: 1rem;" *ngIf= "filteredEvents.length==0">No events!</h2>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">


  <div *ngFor='let event of filteredEvents' >

    <div class="col mb-4">
      <app-event-card [event]="event"></app-event-card>
    </div>

  </div>

</div>
<br>
<div style="justify-content: center;" class="row row-cols-1 row-cols-md-3">
  <button class="btn btn-primary btn-md" (click)="loadMoreEvents()">Show More!</button>
</div>
