<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Pinger</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add Event</a>
        </li>
    </ul>
  </div>

  <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!isLoggedIn()" class=" nav-item">
        <a class="nav-link" (click)="login()">Login</a>
      </li>

      <div *ngIf="isLoggedIn()">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{currentUser}}
        </button>
        <div class="dropdown-menu dropdown-menu-lg-right">
          <button class=" dropdown-item" (click)="logout()">Logout</button>
          <a class="dropdown-item" href="#">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Settings</a>
        </div>

      </div>

    </ul>
  </div>

</nav>



<div class="container">

  <div class="toast" style="z-index: 2;position: fixed; left: 0; bottom: 0;" id="toast" role="alert" aria-live="assertive" aria-atomic="true">


    <div class="toast-body">
      <span>{{toastMsg}}</span>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"></button>
    </div>

  </div>

  <div class="container" style="z-index: 0;position: absolute;">
    <router-outlet ></router-outlet>
  </div>

</div>



<div  class="modal fade" id="exampleModal"   tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login ></app-login>
      </div>

      <div class="modal-footer">
        <hr>
      </div>
    </div>
  </div>
</div>

